<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">New Trip Plan</h4>
    </div>

      <div class="modal-body">
        <% @trip_plan = TripPlan.new %>
        <%= form_for(@trip_plan) do |f| %>
          <% if @trip_plan.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@trip_plan.errors.count, "error") %> prohibited this trip_plan from being saved:</h2>

              <ul>
              <% @trip_plan.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <%= f.text_field :title, placeholder: 'Example: San Francisco Trip' %>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id='create-plan'>Create</button>
        <%= f.submit %>
        <% end %>
      </div>
    </form>
  </div>
</div>
