<%= form_for(@trip_plan) do |f| %>
  <% if @trip_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip_plan.errors.count, "error") %> prohibited this trip_plan from being saved:</h2>

      <ul>
      <% @trip_plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

  <%= link_to trip_plan.title, trip_plan %>
  <%= link_to 'Edit', edit_trip_plan_path(trip_plan) %>
  <%= link_to 'Destroy', trip_plan, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'New Trip plan', new_trip_plan_path %>

<% end %>
